.colFix{
    margin-top: 0;
    padding: 0;
}

h5{
    margin-top: 50px;
    margin-bottom: 20px;
}

h6{
    margin-top: 50px;
    margin-bottom: 20px;
    width: 100%;
}

.bottomSpace{
    margin-bottom: 20px;
}

.leftResize{
    object-fit: cover;
    object-position: left;
    width: auto;
    height: auto;
}

.sideBar{
    width: 300px;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    left: 0;
    top: 0;
    padding-left: 20px;
    font-size: 0.8em;
    scrollbar-color: #a1a5ab #36393f;
    scrollbar-width: thin;
}

.sideBar::-webkit-scrollbar {
    width: 7px;
}

.sideBar::-webkit-scrollbar-track {
    background: #36393f;
}

.sideBar::-webkit-scrollbar-thumb {
    background: #a1a5ab;
}

p.colFix{
    padding-right: 20px;
}

.centerResize{
    object-fit: cover;
    object-position: center;
    width: auto;
    height: auto;
}

h5{
    width: 100%;
}


body{
    font-family: Arial, sans-serif;
    background: #202225;
    color: #a1a5ab;
    letter-spacing: 1px;
    overflow-x: hidden;
}

.answer{
    background: #202225;
}

.question{
    color: #f8f8ff;
}

.emphasis, h1, h2, h3, h4, h5, h6{
    color: #f8f8ff;
    font-weight: bolder;
}

#overview{
    padding: 20px;
}

p{
    line-height: 24px;
    margin: 20px 0;
}

a{
    color: #7289da;
    transition: 0.2s;
}

a:hover{
    color: #f8f8ff;
    text-decoration: none;
}

h1{
    text-align: center;
    margin: 50px 0;
}

h2{
    background: #202225;
    padding: 20px 50px;
    width: 100%;
    margin: 50px 0;
}

section{
    border-bottom: 1px solid #4f545c;
    padding-bottom: 90px!important;
    margin-bottom: 40px;
}

.container{
    background: #2f3136;
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
}

.bigList, .list, .smallList{
    list-style: none;
}

.list{
    background: #36393f;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 50px;
}

.smallList{
    padding: 20px;
    border-radius: 5px;
    border: 3px solid #7289da;
    margin-top: 10px;
    margin-bottom: 20px;
}

#faq .list{
    margin-bottom: 0;
}

#faq .smallList{
    margin-bottom: 50px;
}



#top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    background: #4f545c;
    font-size: 30px;
    text-align: center;
    border-radius: 50%;
    display: none;
}

.oops{
    margin-top: 0;
}

#top:hover{
    background: #202225;
    border: 1px solid #f8f8ff;
}

.love{
    font-size: 0.8em;
    color: #4f545c;
    text-align: center;
}

hr{
    border-color: #4f545c;
}

.row{
    padding: 20px;
}

.bigSpace{
    margin-bottom: 50px;
}

.bigTitle{
    text-align: center;
}

#overview{
    display: none;
}

.content{
    width: calc(100% - 300px);
    margin-left: 300px;
}

.warning{
    margin-left: -10px;
}

h5{
    padding-top: 20px;
}

.icon{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

@media only screen and (max-width: 800px) {
    .sideBar{
        display: none;
    }

    .container{
        max-width: 100%;
        margin: 0 auto;
    }

    .content{
        width: 100%;
        margin-left: 0;
    }

    .bigTitle{
        padding: 0;
    }

    #overview, #top{
        display: block;
    }
}

.rainbow-text {
    background-image: linear-gradient(to left, cyan, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}